<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <form action="">
      <label for="">姓名</label>
      <!-- 單向綁定 可以讀取預設值但修改後不會被更新回去-->
      <input type="text" v-bind:value="name">
      <!-- 雙向綁定 會將修改的資料更新回data內的name-->
      <input type="text" v-model="name">
      <div>
        <label for="hobby">興趣</label>
        <input type="checkbox" name="hobby" v-model="hobby" id="design" value="設計">
        <label for="design">設計</label>
        <input type="checkbox" name="hobby" v-model="hobby" id="web" value="網站">
        <label for="web">網站</label>
        <input type="checkbox" name="hobby" v-model="hobby" id="clip" value="剪輯">
        <label for="clip">剪輯</label>
      </div>

      <select name="city" v-model="city" id="city">
        <option value="台北">台北</option>
        <option value="新北">新北</option>
        <option value="桃園">桃園</option>
        <option value="高雄">高雄</option>
      </select>
    </form>
    <div>{{name}}</div>
    <div v-for="hobbys in hobby">{{hobbys}}</div>
    <div v-for="citys in city">{{citys}}</div>
  </div>
  <script>
    Vue.createApp({
      data() {
        return {
          name: '',
          hobby: [],
          city: [],
        }
      }
    }).mount('#app');
  </script>
</body>

</html>