<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./unpkg.com_vue@3.3.4_dist_vue.global.js"></script>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    ul,
    li {
      list-style: none;
    }

    #app {
      margin: 20px;
    }

    span {
      padding: 16px;
    }
  </style>
</head>

<body>
  <div id="app">
    <form action="javascript:;">
      <input type="text" v-model="input">
      <input type="button" value="新增事項" @click.prevent="add()">
    </form>
    <ul>
      <li v-for="(todo,index) in todos" :key="index">
        <input type="checkbox" v-model="todo.completed">
        <span :style="{ textDecoration: todo.completed ? 'line-through': 'none' }">{{todo.text}}</span>
        <button @click="removeTodo(index)">刪除</button>
      </li>
    </ul>
  </div>
</body>
<script>
  // 解構 const { createApp } = Vue
  const user = {
    name: 'john',
    mail: 'peterchen@gmail.com',
    gender: 'male',
  }
  // console.log(user.name);
  // 物件解構
  const {name,mail} = user;
  console.log(name);
  console.log(mail);

  
  Vue.createApp({
    data() {
      return {
        input: '',
        todos: [{ text: '寫作業', completed: false }]
      }
    },
    methods: {
      add() {
        if (this.input.trim() !== '') {
          this.todos.push({ text: this.input, completed: false });
          this.input = '';
        }
      },
      removeTodo(index) {
        this.todos.splice(index, 1);
      }
    }
  }).mount('#app');
</script>

</html>