<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <select name="" id="" v-model="q" @change="showWeather()">
      <option>-- 請選擇 --</option>
      <option value="taipei">台北</option>
      <option value="tokyo">東京</option>
      <option value="bangkok">曼谷</option>
      <option value="seoul">首爾</option>
    </select>
    <h1 v-if="weather">天氣位置{{ weather.name }}</h1>
    <div v-if="weather">
      <p>溫度: {{ temp }}°C</p>
      <p>濕度: {{ hum }}%</p>
      <p>狀態描述: {{ desc }}</p>
      <p>{{weather.name}} 正在 {{ weather.weather[0].main }}</p>
      <div style="width: 100px; height: 100px; background-color: #85de00;">
        <img :src="icon" alt="">
      </div>
    </div>
    <p v-else>抓取資料中 ...</p>
  </div>

  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          weather: null,
          q: null,
        };
      },    
      methods: {
        showWeather() {
          const url = 'https://api.openweathermap.org/data/2.5/weather?q=' + this.q + '&appid=b7355e3c73fb16f81c45f5380d193b83&units=metric&lang=zh_tw';

          fetch(url)
            .then(res => res.json())
            .then(data => {
              this.weather = data;
            });
        },
      },
      computed: {
        temp() {
          return this.weather ? this.weather.main.temp : null;
        },
        desc() {
          return this.weather ? this.weather.weather[0].description : null;
        },
        hum() {
          return this.weather ? this.weather.main.humidity : null;
        },
        icon() {
          let icon = this.weather.weather[0].icon;
          let url = `https://openweathermap.org/img/wn/${icon}@2x.png`;
          return this.weather ? url : null;
        },
      },
    }).mount('#app');
  </script>

</body>

</html>